<div class="flex justify-center  h-screen">
  <div class="w-full max-w-xs">
    <div class="prose mb-2">  
      <h1>Editar vendedor</h1>
    </div>  
    <%= render "form", seller: @seller %>
  </div>  
</div>  
