<div class="flex justify-center  h-screen  mb-8">
  <div class="w-full max-w-xs">
    <div class="prose mb-4">
      <h1>Crear vendedor</h1>
    </div>
    <%= render "form", seller: @seller %>
   
  </div>
</div>    
