<div class="container mx-auto px-8 py-4 ">  
  <div class="prose py-4">
    <h1>¡Publica tus productos y vende ya!</h1>
  </div>
  <p>
    Con <strong>HojaStore</strong> vende tus productos fácilmente creando tu catálogo online. 
  </p>  

  <div class="prose py-4">
    <h2> ¿Cómo vender? </h2>
  </div>
  <p>
    Primero debes registrarte y luego crear tus productos agregando imagenes, una breve descripción e
    indicando el precio. Despues de crear tu galeria de productos, puedes compartir
    el link con tus potenciales clientes y ellos te contactarán por whatsapp cuando esten interesados 
    en comprar algún producto.  


<div class="prose py-4">
  <h2> ¿Cómo comprar? </h2>
</div>
<p>
En <strong>HojaStore</strong> encontrarás productos interesantes y a buen precio. Recuerda
que para comprar no necesitas registrarte, solo debes dar click en el boton "comprar" y te dirigiremos 
con el whatsapp del vendedor para coordinar la entrega del producto y el cierre de la venta. 
</p>
   
</div>