<div class="container mx-auto px-8 ">  
  <h1>Home#index</h1>
  <p>¡Muestra tus productos ya!

  Descubre una experiencia rápida y eficiente. Publica tus colecciones y destaca tus mejores procustos.
  ¡Estamos aquí para hacer que tu experiencia sea fácil y emocionante!

  Bienvenido a "CoOn", donde encontrarás todo lo que necesitas en un solo lugar. ¡Comienza a explorar ahora y encuentra los artículos que harán tu vida más especial!

  ¡Felices compras!

  El equipo de "CoOn"</p>
</div>