<div class="container mx-auto px-8 py-4 ">  
  <div class="prose py-4">
    <h1>¡Publica tus productos y vende ya!</h1>
  </div>
  <p>
    Descubre una experiencia rápida y eficiente en <strong>TheBox</strong> creando tu catálogo online.
  </p>

  <div class="prose py-4">
    <h2> ¿Cómo funciona? </h2>
  </div>
  <p>
     Sube imagenes de tus mejores productos,crea una descripción de impacto y comienza a vender.
  </p>

<div class="prose py-4">
  <h2> ¿Cómo empezar? </h2>
</div>
<p>
Para comenzar a usar <strong>TheBox</strong>, debes crear una cuenta.
Luego, puedes crear tu catálogo con las fotos de tus productos incluyendo una pequeña descripción y el precio, luego realizas la coordinación y el cierre de la venta por whatsapp y listo.
</p>
   
</div>