<div id="products" class="grid md:grid-cols-3 gap-4">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  <% if @products.count == 0 %>
    <%= flash = "No hay resultados para tu busqueda, intenta con otro producto."%>
    
  <% end %>
</div>