<div class="card w-96 bg-base-100 shadow-xl ">
  <div class="h-96 carousel carousel-vertical rounded-box">
        <% product.images.limit(3).each do |image| %>
          <div class="carousel-item h-full mx-auto">
            <figure>  
              <% if image.representable? %>
                <%= image_tag image  %>
              <% end %>
            </figure>
          </div> 
        <% end %>  
  </div> 
  <div class="card-body">
    <h3 class="text-xl font-bold mb-2"> <%= product.title %> </h3>
    <p class="text-gray-700"> <%= product.description %> </p>
    <h2> <%= product.price %> </h2>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>

