<p style="color: green"><%= notice %></p>
<% if current_seller %>
    <div class="py-4">
      <%= link_to " + New product", new_product_path , class: "btn btn-primary "%>   
    </div>
<% end %>


<div id="products" class="flex flex-wrap gap-2 justify-normal">
  <% @products.each do |product| %>
    <%= render product %>
   
  <% end %>
</div>
