<div class="space-y-2">
  <p style="color: green"><%= notice %></p>
  <div class=" max-w-sm">
    <%= render @product %>
  </div>

  
  <% if current_seller %>
  <%= link_to "Ver Productos", products_path, class: "btn bg-secondary" %>
  <% end %>
  
</div>